<%- include('header') %>

     <!-- Contacto Start-->
      <style>
         
         button[type="submit"] {
            font-size: 16px;
            padding: 1em 3.3em;
            cursor: pointer;
            transform: perspective(200px) rotateX(5deg);
            color: white;
            font-weight: 900;
            border: none;
            border-radius: 5px;
            background: linear-gradient(
               0deg,
               rgba(63, 94, 251, 1) 0%,
               rgba(70, 135, 252, 1) 100%
            );
            box-shadow: rgba(63, 94, 251, 0.2) 0px 40px 29px 0px;
            will-change: transform;
            transition: all 0.3s;
            border-bottom: 2px solid rgba(70, 135, 252, 1);
            }

            button[type="submit"]:hover {
            transform: perspective(180px) rotateX(30deg) translateY(2px);
            }

            button[type="submit"]:active {
            transform: perspective(170px) rotateX(36deg) translateY(5px);
            }

      </style>
      <section id="vehicles" class="background-blue">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                     <div class="titlepage">
                        <h2>Contáctanos</h2>
                        <p>¡Nos encantaría saber de ti! No dudes en contactarnos si tienes alguna pregunta o inquietud, y nuestro equipo te responderá lo antes posible.</p>
                     </div>
               </div>
            </div>
         </div>
         <div class="container">
            <% if (typeof message !== 'undefined') { %>
               <div class="alert alert-danger text-center">
                 <%= message %>
               </div>
             <% } %>
            <div class="service_contact">
                     <form action="/contact/messageSend" method="POST">
                        <div class="form-group">
                           <label for="nombre">Nombre:</label>
                           <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group">
                           <label for="email">Correo electrónico:</label>
                           <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                           <label for="mensaje">Mensaje:</label>
                           <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                     </form>
                     <img src="/images/email.png" alt="#" />
            </div>
         </div>
      </section>
      <!-- Contacto End-->

<%- include('footer') %>

