      
      <!-- Javascript files-->
     <script src="js/jquery.min.js"></script>
     <script src="js/popper.min.js"></script>
     <script src="js/bootstrap.bundle.min.js"></script>
     <script src="js/jquery-3.0.0.min.js"></script>
     <!-- sidebar -->
     <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
     <script src="js/custom.js"></script>


     <!--  footer -->
      <footer>
        <div class="footer bottom_cross1" >
          <div class="info-autor" style="margin-left: 5%; margin-right: 5%; padding: 2% 2%; color:gainsboro; size: 15%;">
            <p>Generación de datos sintéticos de tomografías computarizadas de pulmones con una Red Generativa Antagónica.</p>
            <img src="/images/logoceu.png" width="5%" height="auto">
          </div>
          <a href="https://github.com/PPerezdeMadrid/ChestCT-GAN" style="color:gainsboro; margin-bottom: 5%">
            Puedes acceder al repositorio original en github <i class="fab fa-github"></i>
        </a>
        </div>
     </footer>
     <!-- end footer -->
  
     
  </body>
</html>