<%- include('header') %>

<section class="background-blue">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
                <div class="titlepage">
                    <h2>Tomografías de pulmones</h2>
                    <br>
                    <% if (user) { %> 
                      <p class="font-weight-bold">¡Hola, <%= user.name %>!</p>
                    <% } %>
                    <p> Observa detenidamente la tomografía y pon a prueba tu intuición. Evalúa qué tan realista crees que es esta imagen. Tu evaluación es fundamental para mejorar la precisión de nuestros algoritmos y contribuir al avance de la tecnología médica. ¡Cada respuesta cuenta! </p>
                </div>
            </div>
       </div>
   </div>

   <hr>
   <div style="text-align: center; margin: 0 0;">
      <img src="/images/iconoPulmones.png" alt="Icono pulmones" style="width: 50px; height: auto;">
   </div>
   <hr>

   <div class="service_main" style="text-align: center;" id="image-gallery">
      <!-- La imagen se cargará aquí dinámicamente -->
   </div>  

   <div style="text-align: center; margin-top: 20px;">
     <button class="btn btn-success" onclick="nextImage()">Siguiente</button>
   </div>
</section>

<%- include('footer') %>

<script>
  let currentIndex = 0; // Índice para la imagen actual

  async function loadImages() {
    try {
      const response = await fetch('/LungCT/get-images');
      const imageUrls = await response.json();
      window.imageUrls = imageUrls;
      showImage(currentIndex);
    } catch (error) {
      console.error('Error al cargar las imágenes:', error);
    }
  }

  function showImage(index) {
    const imageGallery = document.getElementById('image-gallery');
    const currentImageUrl = window.imageUrls[index];

    imageGallery.innerHTML = '';

    const card = document.createElement('div');
    card.classList.add('card');
    card.style.border = '10px solid #f1f1f1';
    card.style.boxShadow = '0px 4px 10px rgba(0, 0, 0, 0.1)';
    card.style.borderRadius = '20px';
    card.style.padding = '20px';

    const cardImageContainer = document.createElement('div');
    cardImageContainer.classList.add('card-image-container');

    const img = document.createElement('img');
    img.src = currentImageUrl;
    img.alt = 'Imagen Tomografía Pulmonar';
    img.style.width = '100%';
    img.style.borderRadius = '15px';
    img.style.marginBottom = '15px';

    cardImageContainer.appendChild(img);
    card.appendChild(cardImageContainer);

    const sliderDiv = document.createElement('div');
    sliderDiv.style.textAlign = 'center';
    sliderDiv.style.marginBottom = '20px';

    sliderDiv.innerHTML = `
    <% if (user.isAdmin==0) { %>  
      <label for="response-slider">Calificación (1 = Poco realista, 10 = Muy realista):</label>
      <input type="range" id="response-slider" min="1" max="10" value="5" style="width: 100%;">
      <p id="slider-value">5</p>
      <!-- Si es user.isAdmin no poner el botón de enviar -->
      <button class="btn btn-primary" onclick="submitResponse()">Enviar</button>
    <% } %>
    `;

    card.appendChild(sliderDiv);
    imageGallery.appendChild(card);

    document.getElementById('response-slider').addEventListener('input', function () {
      document.getElementById('slider-value').innerText = this.value;
    });
  }

  function nextImage() {
    currentIndex = (currentIndex + 1) % window.imageUrls.length;
    showImage(currentIndex);
  }

  async function submitResponse() {
    const responseValue = document.getElementById('response-slider').value;
    const imageUrl = window.imageUrls[currentIndex];

    try {
      const res = await fetch('/LungCT/save-response', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ imageUrl, response: parseInt(responseValue, 10) })
      });

      const data = await res.json();
      if (res.ok) {
        nextImage();
      } else {
        alert(`Error: ${data.error}`);
      }
    } catch (error) {
      console.error('Error al enviar la respuesta:', error);
    }
  }

  loadImages();
</script>
